<% layout("admin/layout-admin") -%>

<ol class="breadcrumb crumb">
    <li><a href="#">CMS</a></li>
    <li><a href="#">商品分类管理</a></li>
</ol>

<div class="container" ng-app="categoryApp" ng-controller="pageCtrl">
    <section class="panel panel-default">
        <header class="panel-heading">
            <h3 class="panel-title">商品分类搜索</h3>
        </header>
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group">
                    <label>分类名称：</label>
                    <input class="form-control" type="text" ng-model="querystring.name"/>
                </div>
                <div class="form-group mrg-l15px">
                    <label>父级菜单：</label>
                    <select class="form-control" ng-model="querystring.parent">
                        <option ng-repeat="item in menus"
                                ng-selected="querystring.parent==item.value"
                                value="{{item.value}}">{{item.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group mrg-l30px">
                    <a class="btn btn-default" ng-click="search()">查询</a>
                </div>
            </form>
        </div>
    </section>

    <section class="panel panel-default" ng-controller="categoryCtrl">
        <header class="panel-heading relative">
            <h3 class="panel-title">查询条目：<span class="text-success">{{totalCount}}</span></h3>
            <a class="btn btn-primary add" data-toggle="modal" data-target="#categoryModal" ng-click="add()">添加</a>
        </header>
        <div class="panel-body">
            <table class="table table-striped table-hover table-responsive">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>图片</th>
                    <th>父级菜单</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in dataList">
                    <td>{{$index + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>
                        <img class="thumbnail" ng-src="{{buildImgSrc(item.img, '/cates/')}}" width="30" height="30">
                    </td>
                    <td>{{item.parent?item.parent.name:""}}</td>
                    <td>
                        <a data-toggle="modal" data-target="#categoryModal" ng-click="edit(item)">编辑</a>
                        <a ng-click="remove(item._id)">删除</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <section class="modal fade" id="categoryModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <header class="modal-header">
                            <button class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{{mode=='add'?'添加分类':'编辑分类'}}</h4>
                        </header>
                        <div class="modal-body">
                            <form class="form-horizontal" id="categoryForm" enctype="multipart/form-data" method="post">
                                <input type="hidden" name="_id" ng-model="category._id">
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">分类名称：</label>
                                    <div class="col-lg-7">
                                        <input class="form-control" name="name" type="text" ng-model="category.name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">父级菜单：</label>
                                    <div class="col-lg-7">
                                        <select class="form-control" name="parent" ng-model="category.parent">
                                            <option ng-repeat="item in menus"
                                                    ng-selected="category.parent==item.value"
                                                    value="{{item.value}}">
                                                {{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-show="mode=='add'">
                                    <label class="col-lg-3 control-label">分类图片：</label>
                                    <div class="col-lg-5">
                                        <input class="form-control" id="img" type="file" name="img" accept="image/jpeg">
                                    </div>
                                </div>
                            </form>
                            <form class="form-horizontal" id="imgForm" enctype="multipart/form-data" method="post">
                                <div class="form-group" ng-show="mode=='edit'">
                                    <label class="col-lg-3 control-label">分类图片：</label>
                                    <div class="col-lg-9 img-list">
                                        <div class="img-item" ng-show="!!category.img">
                                            <a ng-click="removeImg(category._id, category.img)">&times;</a>
                                            <img ng-src="{{buildImgSrc(category.img, '/cates/')}}" alt="{{category.name}}"
                                                 width="80" height="80">
                                        </div>
                                        <div class="img-item img-add" ng-hide="!!category.img">
                                            <a ng-click="addImg(category._id)">&plus;</a>
                                            <input type="file" name="img" accept="image/jpeg" onchange="angular.element(this).scope().addImg()">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <footer class="modal-footer">
                            <button class="btn btn-primary" data-dismiss="modal" ng-click="save()">保存</button>
                        </footer>
                    </div>
                </div>
            </section>
        </div>
    </section>

    <% include ../includes/page.html %>
</div>

<% block("scripts").append('<script src="/javascripts/admin/services/category.service.js"></script>') %>
<% block("scripts").append('<script src="/javascripts/admin/controllers/category.controller.js"></script>') %>
